[submodule "fmt"]
	path = fmt
	url = https://github.com/fmtlib/fmt.git
[submodule "dpdk"]
	path = dpdk
	url = https://github.com/DPDK/dpdk.git
[submodule "cudart"]
	path = cudart
	url = https://gitlab.com/nvidia/headers/cuda-individual/cudart
