CMakeLists.txt.user
CMakeCache.txt
CMakeFiles
CMakeScripts
Testing
Makefile
cmake_install.cmake
install_manifest.txt
compile_commands.json
CTestTestfile.cmake
_deps

# idea / Clion
.idea
cmake-build-*
build

# python stuff
*.pyc
*.pyo
__pycache__

# C++ by-products
*.o
*.S

# vim
*.tmp
*.swp
*~
